<?xml version="1.0" encoding="UTF-8"?>
<Menu>
	<Command type = "menu" text = "stock">
		<Command  type = "menu" text = "赛轮金宇" parameter = "openStock"/>
		<Command  type = "menu" text = "雅化集团" parameter = "openStock"/>
		<Command  type = "menu" text = "远望谷" parameter = "openStock"/>
	</Command>
	<Command type = "menu" text = "algorithm">
		<Command  type = "menu" text = "量柱算法" parameter = "openAlgorithm"/>
	</Command>
	<Command type = "menu" text = "statistic">
		<Command  type = "menu" text = "涨停统计" parameter = "openStatistic"/>
		<Command  type = "menu" text = "跌停统计" parameter = "openStatistic"/>
	</Command>
</Menu>
